<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:woocommerce/page-content-wrapper {"page":"checkout"} -->
<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"40px","bottom":"90px","left":"20px","right":"20px"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="padding-top:40px;padding-right:20px;padding-bottom:90px;padding-left:20px"><!-- wp:woocommerce/store-notices /-->

<!-- wp:post-content {"align":"wide"} /--></main>
<!-- /wp:group -->
<!-- /wp:woocommerce/page-content-wrapper -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->